<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.mapper.MerchantsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.main.entity.Merchants">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="cover" property="cover" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, phone, address, cover, created_at
    </sql>

</mapper>
