<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.main.entity.Orders">
        <id column="id" property="id" />
        <result column="serial_number" property="serialNumber" />
        <result column="user_id" property="userId" />
        <result column="merchant_id" property="merchantId" />
        <result column="menu_item_ids" property="menuItemIds" />
        <result column="total_amount" property="totalAmount" />
        <result column="address_id" property="addressId" />
        <result column="order_status" property="orderStatus" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, serial_number, user_id, merchant_id, menu_item_ids, total_amount, address_id, order_status, created_at, updated_at
    </sql>

</mapper>
